@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;

}

html {
    background-color: #0D0C17;
    color: #d3d3d3;
}

:root {
    --font-text: "Space Mono", monospace;
    --font-titulo: "Poppins", sans-serif;
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card2-gradient-color1: #7F00FF;
    --card3-gradient-color1: #3f2b96;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    font-family: var(--font-text);
    font-size: large;
    position: fixed;
    width: 100%;
    background-color: #0D0C17;
    color: #d3d3d3;
    top: 0;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-color: #9B59B6;
    z-index: 5;
}

.hero img {
    height: 5%;
    width: 5%;
}

.hero nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.hero nav ul li a {
    text-decoration: none;
    color: #d3d3d3;
}

.hero nav ul li a:hover {
    text-decoration: underline;
}


main {
    margin-right: 4rem;
    margin-left: 4rem;

}

#apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-titulo);
    font-size: 2vw;
    padding-top: 3rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.apre h1 {
    max-width: 20ch;
}

.meu-nome {
    color: #6a0dad;
}

.apre h2 {
    font-family: var(--font-text);
    font-size: 1.4vw;
    margin-bottom: 2rem;
}

#apresentacao img {
    height: 40%;
    width: 40%;
}

.botao {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 50px;
    border-style: solid;
    border-color: #d3d3d3;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao:hover {
    border-color: #6a0dad;
    transform: scale(1.1);
}

.botao a {
    color: #d3d3d3;
    text-decoration: none;

}

#sobre-mim {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 10rem;
}

#sobre-mim h2 {
    font-family: var(--font-titulo);
    font-size: 2vw;
}

#sobre-mim p {
    font-family: var(--font-text);
    color: #666666;
    max-width: 80ch;
}

#Habilidades {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

#Habilidades h2 {
    font-family: var(--font-titulo);
    font-size: 2vw;

}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.card-wrap {
    width: 220px;
    background: #d3d3d3;
    border-radius: 20px;
    border: 5px solid #d3d3d3;
    overflow: hidden;
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card-wrap:hover {
    transform: scale(1.1);
}

.card-header {
    height: 200px;
    width: 100%;
    background: red;
    border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
    display: grid;
    place-items: center;

}

.card-header i {
    color: #fff;
    font-size: 72px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25ch;
    margin: 0 auto;
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-titulo);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.card-text {
    text-align: center;
    font-size: 12px;
    font-family: var(--font-text);
    margin-bottom: 20px;
}



.card-header.one {
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card2-gradient-color1));
}

.card-header.two {
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card2-gradient-color1));
}

.card-header.three {
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card2-gradient-color1));
}

.card-header.four {
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card2-gradient-color1));
}


#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

#projetos h2 {
    font-family: var(--font-titulo);
    font-size: 2vw;
    margin-bottom: 5rem;
}
.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 1rem;
    padding-top: 2rem;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 90%;
    max-width: 350px;
    max-height: 600px;
  }

  .wrapper {
    width: 100%;
    height: auto;
  }
  
  .banner-image {
    background-image:url('../imagens/Captura\ de\ tela\ 2025-04-01\ 153707.png');
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255);
    margin-bottom: 2rem;
    margin:0 auto;
    margin-bottom: 2rem;
  }
  
  .wrapper h1 {
    font-family: var(--font-titulo);
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
 .wrapper p {
    color: #d3d3d3;
    font-family: var(--font-text);
    text-align: center;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 150%;
    width: 100%;
    max-width: 35ch;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  
  .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
  }
  
  .fill {
    background: transparent;
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-family: var(--font-text);
    font-weight: bold;
    transition: all .3s ease; 
    border: #d3d3d3 solid 1px;
  }
  
  .fill:hover{
    transform: scale(1.125);  
    border-color: #6a0dad;
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }

  .linkbnt {
    text-decoration: none;
    color: #d3d3d3;
  }



#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-bottom: 10rem;
}

#contato h1 {
    font-family: var(--font-titulo);
    font-size: 2vw;
}

#contato ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#contato li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-text);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#contato li:hover {
    transform: scale(1.2);
  }

#contato i {
    font-size: 2rem;
    color: #6a0dad;
    border: solid 2px #6a0dad;
    border-radius: 50%;
    padding: 1rem;
}

#contato p {
    font-family: var(--font-text);
}

#contato a {
    text-decoration: none;
    color: var(--color-text);
}

#contato a:hover {
    text-decoration: underline;
}


@media (max-width: 480px) {
    .container {
      padding: 1rem;
    }

    .wrapper h1 {
      font-size: 1.5rem;
    }

    .banner-image {
      height: 150px;
    }

    .btn {
      font-size: 0.7rem;
      padding: 8px 16px;
    }
  }



@media(max-width: 1024px) {

    .hero nav {
        display: none;
    }

    .hero img{
        display: none;
    }

    #apresentacao {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }

    #apresentacao img {
        width: 70%;
        height: auto;
    }

    #apresentacao h1 {
        font-size: 6vw;
    }

    #apresentacao h2 {
        font-size: 3vw;
    }

    #apresentacao button {
        font-size: 3vw;
    }

   .apre{
       text-align: center;
   }

   #sobre-mim h2 {
    font-size: 2rem;
   }

   #sobre-mim p {
    text-align: center;
   }
   #Habilidades h2 {
    font-size: 2rem;
   }

   #Habilidades.card{
    width: 100%;
    height: auto;
    align-items: center;
   }

   #projetos h2 {
    font-size: 2rem;
   }

   #contato h1 {
    font-size: 2rem;
   }

   #contato ul {
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
   }

   #contato i {
    font-size: 1.5rem;
    padding: 0.5rem;
   }

   .container {
    padding: 1rem;
  }

  .wrapper h1 {
    font-size: 1.5rem;
  }

  .banner-image {
    height: 150px;
  }

  .btn {
    font-size: 0.7rem;
    padding: 8px 16px;
  }
}